{% extends 'index.html' %}

{% block title %}
    <title>ajouter un type de jeu</title>
{% endblock %}

{% block body %}
  <h2>Ajouter un jeu</h2>
  <form method="post" action="/pompe/add" >
        <label for="poids">Poids</label><br>
        <input id="poids" type="number" name="poids" size="18" value="" placeholder="Saisir le poids" required><br>

        <label for="puissance">Puissance</label><br>
        <input id="puissance" type="number" name="puissance" size="18" value="" placeholder="Saisir la puissance" required><br>

      <label for="prix">Prix</label><br>
        <input id="prix" type="number" name="prix" size="18" value="" placeholder="Saisir le prix" required><br>



        <label for="idModele">Modele de pompe</label><br>
        <select id="idModele" type="number" name="idModele"  required>
            <option value="" disabled selected>Choisir un modele de pompe</option>
    {% for id_modele in id_modele %}
<option value="{{ id_modele.idModele }}">
    {{ id_modele.nom_modele }}
</option>
            {% endfor %}

</select><br>

        <input type="submit" value="Creer" name="Valider" >
  </form>
{% endblock %}