{% extends 'index.html' %}

{% block title %}
    <title>modifier un type de jeu</title>
{% endblock %}

{% block body %}
  <h2>Modifier le type de jeu</h2>
<h3>Achats associés</h3>
<ul>
    {% for achat in achats %}
    <li>ID Achat: <strong>{{ achat.id_achat }}</strong>, Date Achat: <strong>{{ achat.date_achat }}</strong>, Date Installation: <strong>{{ achat.date_installation }}</strong>, ID Client: <strong>{{ achat.id_client }}</strong>, Prix: <strong>{{ achat.prix_achat }}</strong></li><button><a href="/pompe/achat-delete?id={{ achat.id_achat }}">Supprimer</a></button>
    {% endfor %}
</ul>

{% endblock %}