{% extends 'index.html' %}

{% block title %}
    <title>modifier un type de jeu</title>
{% endblock %}

{% block body %}
  <h2>Modifier le type de jeu</h2>

  <form method="post" action="/pompe/edit">
        <legend> Modifier un type de jeu</legend>
        <input type="hidden" name="id" size="18" value="{{ pompe.id }}" id="id">

        <label for="puissance">Puissance</label><br>
        <input type="number" name="puissance" size="18" value="{{ pompe.puissance }}" id="puissance"><br>

        <label for="poids">Poids</label><br>
        <input type="number" name="poids" size="18" value="{{ pompe.poids }}" id="poids"><br>

        <label for="prix">Prix</label><br>
        <input type="number" name="prix" size="18" value="{{ pompe.prix }}" id="prix"><br>

        <label for="id_modele">Modele de pompe</label><br>
        <select name="id_modele" id="id_modele">
            <option value="" disabled selected>Choisir un modele de pompe</option>
    {% for id_modele in id_modele %}
<option value="{{ id_modele.idModele }}">
    {{ id_modele.nom_modele }}
</option>
            {% endfor %}
        </select><br>


        <input type="submit" value="Modifier" name="Modifier" >
  </form>
{% endblock %}