{% extends "index.html" %}
{% block title %}
<title>Modifier une intervention</title>
{% endblock %}

{% block body %}
<h2>Modifier une intervention</h2>

<form method="post" action="/intervention/edit">
   <input type="hidden" name="id" value="{{ intervention.id_intervention }}" id="id">
   <fieldset>
      <legend>Modifier une intervention</legend>


       <label for="descriptif_intervention">Descriptif  de l'intervention</label><br>
      <input type="text" name="descriptif_intervention" value="{{ intervention.descriptif_intervention }}" id="descriptif_intervention" required><br>


      <label for="date">Date de l'intervention</label><br>
      <input type="date" name="date" value="{{ intervention.date_intervention }}" id="date" required><br>



        <label for="numero_pompe">numero de la pompe </label><br>
      <select name="numero_pompe" id="numero_pompe" required>
        {% for numero_pompe in numero_pompe %}
        <option value="{{ numero_pompe.numero_pompe }}" {% if numero_pompe.numero_pompe == numero_pompe.numero_pompe %}selected{% endif %}>
            {{ numero_pompe.numero_pompe }}
        </option>
        {% endfor %}
      </select><br>



  <label for="id_client">Id du client </label><br>
      <select name="id_client" id="id_client" required>
        {% for id_client in id_client %}
        <option value="{{ id_client.id_client }}" {% if id_client.id_client == intervention.id_client %}selected{% endif %}>
            {{ id_client.id_client }}
        </option>
        {% endfor %}
      </select><br>




      <input type="submit" value="Modifier" name="Modifier">
   </fieldset>
</form>
{% endblock %}
