{% extends "index.html" %}

<link rel="stylesheet" href="../static/intervention.css">
{% block title %}
<title>Afficher les types d'interventions</title>
{% endblock %}
{% block body %}
<h3>Types d'intervention</h3>
<div class="ajouter">
  <a href="/intervention/add">Ajouter un type d'intervention</a>
</div>
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Descriptif</th>
      <th>Date</th>
      <th>Numéro pompe</th>
      <th>Id client</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% if intervention | length >= 1 %}
      {% for intervention in intervention %}
      <tr>
        <td>{{ intervention.id_intervention }}</td>
        <td>{{ intervention.descriptif_intervention }}</td>
        <td>{{ intervention.date_intervention }}</td>
        <td>{{ intervention.numero_pompe }}</td>
        <td>{{ intervention.id_client }}</td>
        <td>
          <div class="edit_sup">
            <a href="/intervention/edit?id_intervention={{ intervention.id_intervention }}">Éditer</a>
            <a href="/intervention/delete?id_intervention={{ intervention.id_intervention }}">Supprimer</a>


          </div>
        </td>
      </tr>
      {% endfor %}
    {% else %}
    {% endif %}
  </tbody>
</table>
{% endblock %}
