<nav class="menu">
    <a href="/"> Accueil </a>  -
    <div class="dropdown">
        <a href="#" class="dropbtn"> Pompe(Natan) </a>
        <div class="dropdown-content">
            <a href="/pompe/show">Show Pompe</a>
            <a href="/pompe/etat">Etat</a>
        </div>
    </div>  -
    <div class="dropdown">
    <a href="#" class="dropbtn"> Achat(Emmanuel) </a>
    <div class="dropdown-content">
            <a href="/achat/show">Show Achat</a>
            <a href="/achat/etat">Etat</a>
        </div>
    </div>  -
    <div class="dropdown">
        <a href="/intervention/show" class="dropbtn"> Intervention(Noa) </a>
        <div class="dropdown-content">
            <a href="/intervention/show">Show Intervention</a>
            <a href="/intervention/etat">Etat</a>
        </div>
    </div>  -
    <div class="dropdown">
        <a href="/client/show" class="dropbtn"> Client(Arthur) </a>
        <div class="dropdown-content">
            <a href="/client/show">Show Client</a>
            <a href="/client/etat">Etat</a>
        </div>
    </div>  -
</nav>
<hr>
