{% extends 'index.html' %}

{% block title %}
    <title>afficher les achats</title>
{% endblock %}

{% block body %}
<h3 style="display: block;text-align: center;">Liste des achat</h3>
<div class="corps">
<br><br>
    <a href="/achat/add" style="display: block;text-align: center;">Ajouter un achat</a><br>
<a style="display: block;text-align: center;">Nombre d'achats: {{moyenne.get("COUNT(id_achat)")}}</a><br>
<a style="display: block;text-align: center;">Moyenne des prix des achats: {{moyenne.get("AVG(prix_achat)")}}</a><br>
<table class="tableau">
    <thead class="head-tableau">
        <tr>
            <th>identifiant achat</th><th>date achat<th>date Installation</th><th>id client</th><th>numéro de pompe</th><th>Prix</th><th>opération</th>
        </tr>
    </thead>
    <tbody>
    {% if achats | length >= 1 %}
        {% for achat in achats %}
           <tr>
                  <td>{{ achat.id_achat }}</td>
                  <td>{{ achat.date_achat }}</td>
                  <td>{{ achat.date_installation }}</td>
                  <td>{{ achat.id_client}}</td>
                  <td>{{ achat.numero_pompe}}</td>
                  <td>{{ achat.prix_achat}}</td>
                  <td class="boutons">
                        <a href="/achat/edit?id={{ achat.id_achat }}">editer</a>&nbsp;
                        <a href="/achat/delete?id={{ achat.id_achat }}" >supprimer</a>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas d'Achat à afficher
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
</div>
{% endblock %}
